.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: var(--darkblue-color);
  display: grid;
  align-items: center;
  z-index: 99;
}

nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  font-size: 1.5rem;
  color: var(--lightblue-color);
}

.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.close-btn {
  position: fixed;
  top: 25px;
  right: 25px;
  color: var(--lightblue-color);
  font-size: 1.5rem;
}

.hidden {
  transform: translateX(100%);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

li a:hover {
  color: var(--blue-color);
  transition: all 0.5s ease;
}

li button {
  background: var(--lightblue-color);
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

li button:hover {
  background: var(--blue-color);
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  .header-wrapper{
    position: relative;
  }

  ul {
    flex-direction: row;
  }
}